html{
    scroll-behavior: smooth;
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.header {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
}
.header-cover {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Alegreya Sans', Helvetica, sans-serif;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 60px 10px;
    background-color: rgb(255, 255, 255);
    width: 1160px;

}
.nav-cover {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 560px;
}
.nav-cover li {
    list-style: none;
    display: flex;
    text-decoration: none;
}
.nav-cover li a {
    text-decoration: none;
    color: black;
}
.nav-cover li img {
    width: 25px;
}




.welcome {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
}
.welcome-cover {
    background-color: rgb(255, 255, 255);
    padding: 40px 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.my-photo img {
    width: 460px;
}
.contacts-list {
    margin-top: 55px;
    margin-left: 200px;
}
.contacts-list img {
    width: 30px;
}
.contacts-list li {
    list-style: none;
    display: flex;
    align-items: center;
    font-family: 'Bellota Text', Arial, sans-serif;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.contacts-list li div {
    display: flex;
    margin-right: 20px;
}
.welcome-content {
    display: flex;
    width: 1100px;
    justify-content: space-between;
    align-items: center;
}
.welcome-title p {
    font-family: 'Alegreya Sans', Helvetica, sans-serif;
    font-size: 32px;
}
h1 {
    font-family: 'Prata', sans-serif;
    font-size: 65px;
}
.welcome-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.welcome-arrow {
    margin-top: 25px;
    cursor: pointer;
}
.welcome-arrow img {
    width: 60px;
}

.arrow-fixed img{
    width: 60px;
    transform: rotate(180deg);
}
.arrow-fixed {
    position: fixed;
    bottom:50px;
    right:350px;
    cursor: pointer;
    z-index: 2;
}




.summary {
    background-color: #EEEEEE;
}
.summary-cover {
    display: flex;
    flex-direction: column;
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    background-color: #EEEEEE;
}
.paint-pic img{
    width: 1280px;
}
.paint-pic {
    position: relative;
    top: -1px;
    left: -1px;
}
.summary-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.summary-content p {
    width: 865px;
    margin-top: 90px;
    font-family: 'Bellota Text', Arial, sans-serif;
    font-size: 27px;
    margin-bottom: 80px;
}
.summary-head {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.star-pic img {
    width: 40px;
    display: flex;
}
h2 {
    font-size: 40px;
    font-family: 'Alegreya Sans', Helvetica, sans-serif;
    font-weight: 700;
    margin: 0 15px;
}
.summary-arrow img{
    width: 1080px;
}
.summary-arrow {
    position: absolute;
    margin-top: 180px;
    margin-left: 90px;
}




.skills {
    background-color: #EEEEEE;
}
.skills-cover {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    background-color: #eeeeee;
    padding: 160px 150px 90px;
}
.skills-content {
    background-color: #DADADA;
    width: 290px;
    height: 320px;
    transform: rotate(-3deg);   
    display: flex;
    flex-direction: column;
}
.skills-content h2 {
    transform: rotate(3deg); 
    display: flex;
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 15px;
    font-size: 30px;
}
.skills-content ul li {
    list-style: none;
    transform: rotate(3deg); 
    display: flex;
    margin-left: 40px;
    font-family: 'Bellota Text', Arial, sans-serif;
    font-size: 18px;
    margin-top: 5px;
    text-align: left;
    
}
.skills-content ul li span{
    font-weight: 600;
    height: 25px;
}
.skills-content:nth-child(2){
    background-color: #464646;
    color: #ffffff;
}




.experience {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
}
.experience-cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Bellota Text', Arial, sans-serif;
    font-size: 22px;
}
.experience-head h2{
    display: flex;
    justify-content: center;
}
.experience-head img {
    width: 90px;
}
.experience-head div {
    display: flex;
    justify-content: center;
}
h3 {
    font-family: 'Bellota Text', Arial, sans-serif;
    font-size: 32px;
}
.experience-body p {
    color: #404040;
    font-size: 20px;
}
.experience-content p {
    color: #000000;
    font-size: 22px;
    margin-top: 15px;
    margin-bottom: 10px;
}
.experience-content li {
    margin-left: 55px;
}
.experience-body {
    width: 865px;
    margin-bottom: 55px;
}





.projects {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
}
.projects-cover {
    background-color: #EEEEEE;
    margin: 30px 30px 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    font-family: 'Bellota Text', Arial, sans-serif;
}
.projects-head {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.project-pics img {
    width: 280px;
    height: 160px;
    margin-top: 7px;
    margin-bottom: 15px;
}
.projects-content ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.cat img {
    width: 100px;
    margin-top: 70px;
}
.projects-one {
    background-color: #FFFFFF;
    width: 295px;
    margin: 30px 25px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.projects-content .projects-one:nth-child(1) {
    margin-left: 150px;
}
.projects-content .projects-one:nth-child(2) {
    margin-right: 150px;
}
h4 {
    font-family: 'Bellota Text', Arial, sans-serif;
    font-size: 18px;
    font-weight: 900;
    width: 235px;
    text-align: left;
}
.projects-one p {
    width: 235px;
    height: 95px;
    margin: 5px 0;
}
.projects-one-stack p{
    font-weight: 900;
    margin-top: 10px;
    height: 20px;
}
.projects-one-stack ul {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}
.projects-one-stack {
    margin-bottom: 40px;
}






.education {
    background-color: #EEEEEE;
}
.education-cover {
    background-color: #EEEEEE;
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Bellota Text', Arial, sans-serif;
    font-size: 22px;
    padding-bottom: 90px;
}
.education-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.education-head {
    display: flex;
    align-items: center;
    margin-bottom: 70px;
}
.education-body {
    display: flex;
    width: 1150px;
    justify-content: space-between;
}
.education-body h3{
    width: 490px;
}
.education-body div p:nth-child(2) {
    color: #404040;
    font-size: 20px;
}
.education-body li {
    margin-left: 55px;
}
.education-body span {
    font-weight: 900;
}




footer {
    background-color: #000000;
}
.footer-cover {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
}
.footer-cover p {
    font-family: 'Bellota Text', Arial, sans-serif;
    font-size: 22px;
    color: #DADADA;
}